{%extends "aboutme/header.html"%}

{% block content %}
{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<div class="col-sm-08">
<div style="text-align: center; background-color: gray; border: 2px solid black">
	<h2 style="font-family: Bitner">A Little Bit About This Project</h2>
</div>
<br><br>
 
<p>Welcome to my website.  I created this website with hopes of gaining a better understanding of Django framework.  This project is a combination of HTML, Python (Django), CSS and a little help from Bootstrap. Please feel free to look around and check everything out!

</p>
<br><br>
<p>-Graham Posey</p>
</div>
{% endblock %}